<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.stackonehq.stack-nudge</string>
    <key>CFBundleName</key>
    <string>StackNudge</string>
    <key>CFBundleDisplayName</key>
    <string>StackNudge</string>
    <key>CFBundleExecutable</key>
    <string>stack-nudge</string>
    <key>CFBundleIconFile</key>
    <string>Icon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.28.2</string> <!-- x-release-please-version -->
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSUserNotificationAlertStyle</key>
    <string>alert</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>StackNudge uses System Events to focus the correct window when you act on a notification.</string>
</dict>
</plist>
